<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <#include "/common/head.html" />
    <title>商品详情</title>
    <link rel="stylesheet" href="/resources/css/business/detail.css"/>
</head>
<body>
<div class="mask"></div>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a href="index.html" class="brand"><span>电商系统</span></a>

            <!-- start: Header Menu -->
            <div class="nav-no-collapse header-nav">
                <ul class="nav pull-right">
                    <!-- start: User Dropdown -->
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
                            <i class="halflings-icon white user"></i>
                            <@shiro.user><@shiro.principal/></@shiro.user>
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-menu-title">
                                <span>帐户管理</span>
                            </li>
                            <li><a href="#"><i class="halflings-icon user"></i> 个人资料</a></li>
                            <li><a href="/user/logout"><i class="halflings-icon off"></i> 登出</a></li>
                        </ul>
                    </li>
                    <!-- end: User Dropdown -->
                </ul>
            </div>
            <!-- end: Header Menu -->

        </div>
    </div>
</div>
<div class="body container">
    <div class="row-fluid">
        <div class="product-detail-block">
            <div class="head">
                <img src="${product.productAvatar!''}" alt=""/>
                <div class="tool">
                    <button class="btn btn-primary">立即购买</button>
                    <button class="btn btn-primary">加入购物车</button>
                </div>
            </div>

            <div class="body">
                <div class="title span12">
                    ${product.productTitle!''}
                </div>
                <div class="clear-both"></div>
                <div class="content">
                    ${product.productContent!''}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="product-list-tmpl">
    <!-- i * 3 - j - 1 -->
    <%for(i=1; i <= list.length / 3 ; i++){%>
    <ul class="thumbnails">
        <%for(j=2; j >= 0 ; j--){%>
        <li class="span4">
            <div class="thumbnail">
                <img alt="300x200" data-src="holder.js/300x200" style="width: 300px; height: 200px;" src="<%=list[i * 3 - j - 1].productAvatar%>">
                <div class="caption">
                    <h3><%=list[i * 3 - j - 1].productTitle%></h3>
                    <p><%=list[i * 3 - j - 1].productContent.length > 40 ? list[i * 3 - j - 1].productContent.substring(0,40) : list[i * 3 - j - 1].productContent %></p>
                    <p><a class="btn btn-primary" href="#">购买</a> <a class="btn btn-primary" href="#">加入购物车</a> <a class="btn" href="#">查看</a></p>
                </div>
            </div>
        </li>
        <% } %>
    </ul>
    <% } %>
</script>
<#include "/common/footer.html" />
<script src="http://cdn.bootcss.com/jquery-mousewheel/3.1.13/jquery.mousewheel.js"></script>
<script>
    $(function(){
        var product = {
            pageNo : 1,
            pageSize : 6
        }
        /** 初始化数据 start */
        initProductList();
        initScrollBarEvent();
        /** 初始化数据 end */


        function initScrollBarEvent () {
            $("body").mousewheel(function(event, delta, deltaX, deltaY) {
                if(isScrollBarBottom()) {
                    $.ajax({
                        url : "/product/listJson",
                        type : "GET",
                        data : {pageNo : product.pageNo + 1, pageSize : product.pageSize},
                        success : function(result) {
                            if(result.code == 0) {
                                var page = result.result.page;
                                product.pageNo = page.pageNo;
                                product.pageSize = page.pageSize;
                                product.pageCount = page.pageCount;
                                product.dataCount = page.dataCount;
                                var html = template("product-list-tmpl", result.result);
                                $("#product-list").append(html);
                            }
                        }
                    });
                }
            });
        }
        function initProductList() {
            $.ajax({
                url : "/product/listJson",
                type : "GET",
                data : {pageNo : product.pageNo, pageSize : product.pageSize},
                success : function(result) {
                    if(result.code == 0) {
                        var page = result.result.page;
                        product.pageNo = page.pageNo;
                        product.pageSize = page.pageSize;
                        product.pageCount = page.pageCount;
                        product.dataCount = page.dataCount;
                        var html = template("product-list-tmpl", result.result);
                        $("#product-list").html(html);
                    } else {
                        alert(result.message);
                    }
                }
            });
        }

        function isScrollBarBottom() {
            return $("body").scrollTop()>=$(document).height()-$(window).height();
        }
    });

</script>
</body>
</html>