<!DOCTYPE html>
<html lang="en">
<head>
    <title>用户角色管理</title>
    <#include "/common/head.html" />
</head>

<body>
<!-- start: Header -->
<#include "/common/common_top.html" />
<!-- start: Header -->

<div class="container-fluid-full">
    <div class="row-fluid">

        <!-- start: Main Menu -->
        <#include "/common/side_bar_left.html" />
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>

                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>

        <!-- start: Content -->
        <div id="content" class="span10">


            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="index.html">权限管理</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a href="#">角色管理</a></li>
            </ul>

            <div class="row-fluid sortable">
                <div class="box span12">
                    <div class="box-header" data-original-title>
                        <h2><i class="halflings-icon user"></i><span class="break"></span>用户</h2>

                        <div class="box-icon">
                            <a href="#" class="" onclick="saveShow()"><i class="halflings-icon plus"></i></a>
                            <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                            <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>图片</th>
                                <th>标题</th>
                                <th>价格</th>
                                <th>状态</th>
                                <th>简介</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <#list list as e>
                                <tr>
                                    <td>${e_index + 1}</td>
                                    <td class="center"><span class="thumbnail"><img class="limit" src="${e.productAvatar!''}"></span></td>
                                    <td class="center">${e.productTitle!""}</td>
                                    <td class="center">${e.productPrice!""}</td>
                                    <td class="center">${e.productStatus!""}</td>
                                    <td class="center">${e.productContent!""}</td>
                                    <td class="center">${e.productCreateTime!""}</td>
                                    <td>
                                        <a class="btn btn-success" href="#" onclick="updateShow(${e.id!''})">
                                            <i class="halflings-icon white edit"></i>
                                        </a>
                                        <a href="#" class="btn btn-danger" onclick="ajax('/product/delete', 'get', {id : ${e.id!''}})">
                                            <i class="halflings-icon white trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </#list>
                            </tbody>
                        </table>
                        ${pageNavBar!""}
                    </div>
                </div>
                <!--/span-->

            </div>
            <!--/row-->
        </div>
        <!--/.fluid-container-->
        <!-- end: Content -->
    </div>
    <!--/#content.span10-->
</div>
<!--/fluid-row-->

<div class="modal hide fade" id="save-product-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>保存新商品</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" id="save-product-form">
            <fieldset>
                <div class="control-group">
                    <label for="productTitle" class="control-label">商品标题</label>
                    <div class="controls">
                        <input type="text" placeholder="请输入商品标题" name="productTitle" id="productTitle" class="input-xlarge focused">
                    </div>
                </div>
                <div class="control-group">
                    <label for="productPrice" class="control-label">商品价格</label>
                    <div class="controls">
                        <input type="text" placeholder="请输入商品价格" name="productPrice" id="productPrice" class="input-xlarge focused">
                    </div>
                </div>
                <div class="control-group">
                    <label for="productContent" class="control-label">商品描述</label>
                    <div class="controls">
                        <input type="text" placeholder="请输入对该商品的描述" name="productContent" id="productContent" class="input-xlarge focused">
                    </div>
                </div>
                <div class="control-group">
                    <label for="productAvatar" class="control-label">商品展示图片</label>
                    <div class="controls">
                        <input type="file" class="uploadFile" onchange='uploadImg(this, "/util/uploadFile", "productAvatar")'>
                        <input type="hidden" name="productAvatar" id="productAvatar" class="input-xlarge focused">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">关闭</a>
        <a href="#" class="btn btn-primary" onclick="save()">保存</a>
    </div>
</div>

<div class="modal hide fade" id="update-product-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>保存新商品</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" id="update-product-form">
            <fieldset id="update-product-fieldset">
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">关闭</a>
        <a href="#" class="btn btn-primary" onclick="update()">保存</a>
    </div>
</div>

<script type="text/html" id="update-product-fieldset-tmpl">
    <input type="hidden" name="id" id="id" value="<%= id %>"/>
    <div class="control-group">
        <label for="productTitle" class="control-label">商品标题</label>
        <div class="controls">
            <input value="<%= productTitle %>" type="text" placeholder="请输入商品标题" name="productTitle" id="update-productTitle" class="input-xlarge focused">
        </div>
    </div>
    <div class="control-group">
        <label for="productPrice" class="control-label">商品价格</label>
        <div class="controls">
            <input value="<%= productPrice %>" type="text" placeholder="请输入商品价格" name="productPrice" id="update-productPrice" class="input-xlarge focused">
        </div>
    </div>
    <div class="control-group">
        <label for="productContent" class="control-label">商品描述</label>
        <div class="controls">
            <input value="<%= productContent %>" type="text" placeholder="请输入对该商品的描述" name="productContent" id="update-productContent" class="input-xlarge focused">
        </div>
    </div>
    <div class="control-group">
        <label for="productAvatar" class="control-label">商品展示图片</label>
        <div class="controls">
            <img class="span2" src='${apiPrefix}<%= productAvatar %>'>
            <input type="file" class="uploadFile" onchange='uploadImg(this, "/util/uploadFile", "update-productAvatar")'>
            <input value="<%= productAvatar %>" type="hidden" name="productAvatar" id="update-productAvatar" class="input-xlarge focused">
        </div>
    </div>
</script>
<#include "/common/footer.html" />
<script>
    function saveShow() {
        $("#save-product-modal").modal();
    }
    function save() {
        ajax("/product/save", "POST", decodeURIComponent($("#save-product-form").serialize()));
    }

    function updateShow(id) {
        $.ajax({
            type : "GET",
            url : "/product/findById",
            data : {id : id},
            success : function(result) {
                if(result.code == 0) {
                    var product = result.result.product;
                    var html = template.render("update-product-fieldset-tmpl", product);
                    $("#update-product-fieldset").html(html);
                } else {
                    alert(result.message);
                }
            }
        });
        $("#update-product-modal").modal();
    }

    function update() {
        ajax("/product/update", "POST", decodeURIComponent($("#update-product-form").serialize()));
    }
</script>
</body>
</html>
