<!DOCTYPE html>
<html lang="en">
<head>
    <title>用户角色管理</title>
    <#include "/common/head.html" />
</head>

<body>
<!-- start: Header -->
<#include "/common/common_top.html" />
<!-- start: Header -->

<div class="container-fluid-full">
    <div class="row-fluid">

        <!-- start: Main Menu -->
        <#include "/common/side_bar_left.html" />
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>

                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>

        <!-- start: Content -->
        <div id="content" class="span10">


            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="index.html">权限管理</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a href="#">角色管理</a></li>
            </ul>

            <div class="row-fluid sortable">
                <div class="box span12">
                    <div class="box-header" data-original-title>
                        <h2><i class="halflings-icon user"></i><span class="break"></span>权限</h2>
                        <div class="box-icon">
                            <a href="#" class="" onclick="saveShow()"><i class="halflings-icon plus"></i></a>
                            <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                            <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <table class="table table-striped table-bordered datatable">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>权限标识</th>
                                <th>权限描述</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <#list list as e>
                                <tr>
                                    <td>${e_index + 1}</td>
                                    <td class="center">${e.permission!""}</td>
                                    <td class="center">${e.description!""}</td>
                                    <td>
                                        <a href="#" class="btn btn-danger" onclick="ajax('/permission/delete', 'get', {id : ${e.id!''}})">
                                            <i class="halflings-icon white trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </#list>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--/span-->

            </div>
            <!--/row-->
        </div>
        <!--/.fluid-container-->
        <!-- end: Content -->
    </div>
    <!--/#content.span10-->
</div>
<!--/fluid-row-->

<div class="modal hide fade" id="save-permission-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>添加权限</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" id="save-permission-form">
            <fieldset>
                <div class="control-group">
                    <label for="permission" class="control-label">权限标识</label>
                    <div class="controls">
                        <input type="text" placeholder="请输入权限标识" name="permission" id="permission" class="input-xlarge focused">
                    </div>
                </div>
                <div class="control-group">
                    <label for="description" class="control-label">权限描述</label>
                    <div class="controls">
                        <input type="text" placeholder="请输入对该权限的描述" name="description" id="description" class="input-xlarge focused">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">关闭</a>
        <a href="#" class="btn btn-primary" onclick="save()">保存</a>
    </div>
</div>

<#include "/common/footer.html" />
<script>
    function saveShow() {
        $("#save-permission-modal").modal();
    }

    function save() {
        ajax("/permission/save", "POST", decodeURIComponent($("#save-permission-form").serialize()));
    }

</script>
</body>
</html>
