<div id="sidebar-left" class="span2">
    <div class="nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <@shiro.hasRole name="admin">
            <li>
                <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span
                        class="hidden-tablet"> 权限管理</span><span class="label label-important"> 3 </span></a>
                <ul>
                    <li><a class="submenu" href="/user/roleList"><i class="icon-file-alt"></i><span class="hidden-tablet">用户管理</span></a>
                    </li>
                    <li><a class="submenu" href="/role/listModel"><i class="icon-file-alt"></i><span
                            class="hidden-tablet"> 角色管理 </span></a></li>
                    <li><a class="submenu" href="/permission/list"><i class="icon-file-alt"></i><span
                            class="hidden-tablet"> 权限管理 </span></a></li>
                </ul>
            </li>
            </@shiro.hasRole>
            <@shiro.hasRole name="user">
            <li>
                <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span
                        class="hidden-tablet"> 商品管理</span><span class="label label-important"> 3 </span></a>
                <ul>
                    <li><a class="submenu" href="/product/list"><i class="icon-file-alt"></i><span class="hidden-tablet">商品管理</span></a>
                    </li>
                    <li><a class="submenu" href="/order/list"><i class="icon-file-alt"></i><span
                            class="hidden-tablet"> 订单管理 </span></a></li>
                    <li><a class="submenu" href="/permission/list"><i class="icon-file-alt"></i><span
                            class="hidden-tablet"> 权限管理 </span></a></li>
                </ul>
            </li>
            </@shiro.hasRole>
            <@shiro.hasRole name="custom">
            <li>
                <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span
                        class="hidden-tablet"> 我的</span><span class="label label-important"> 1 </span></a>
                <ul>
                    <li>
                        <a class="submenu" href="/user/order">
                            <i class="icon-file-alt"></i>
                            <span class="hidden-tablet">我的订单</span>
                        </a>
                    </li>
                </ul>
            </li>
            </@shiro.hasRole>

        </ul>
    </div>
</div>